---
import "~/styles/global.css";
import Layout from "~/layouts/Layout.astro";
import { content } from "~/data/content";
import ContactForm from "~/components/ContactForm.astro";

const address = content.company.address;
const phone = content.company.phone;
const email = content.company.email;
---

<Layout pageTitle="About">
  <section class="flex-1">
    <!-- Content container -->
    <div class="p-8 text-theme_text_dark lg:flex gap-12">
      <!-- Left container -->
      <div class="max-w-xl flex-1 px-4 py-6 lg:px-12 lg:py-14">
        <h1 class="text-4xl lg:text-7xl">Send us a message</h1>
        <p class="mt-4 max-w-sm">
          We'd love to hear from you. Please fill out the form to get in touch
          with us.
        </p>

        <!-- Address -->
        <div class="flex gap-x-4 mt-16">
          <dt class="flex-none">
            <span class="sr-only">Address</span>
            <svg
              class="size-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z"
              ></path>
            </svg>
          </dt>
          <dd>
            {address.street}
            <br />
            {address.city}, {address.state}
            {address.zip}
          </dd>
        </div>
        <!-- Phone-->
        <div class="flex gap-x-4 mt-4">
          <dt class="flex-none">
            <span class="sr-only">Telephone</span>
            <svg
              class="size-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
              ></path>
            </svg>
          </dt>
          <dd>
            <!-- TODO: fix phone link -->
            <a class="hover:" href={``}>
              {phone}
            </a>
          </dd>
        </div>
        <!-- Email-->
        <div class="flex gap-x-4 mt-4">
          <dt class="flex-none">
            <span class="sr-only">Email</span>
            <svg
              class="size-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
              ></path>
            </svg>
          </dt>
          <dd>
            <a class="hover:text-gray-800" href={`${email}`}>
              {email}
            </a>
          </dd>
        </div>
      </div>
      <div class="mt-12">
        <div
          class="bg-white border-2 text-black px-8 py-4 rounded-lg max-w-md lg:w-md"
        >
          <ContactForm />
        </div>
      </div>
    </div>
  </section>
</Layout>
