---
import { content } from "~/data/content.ts";

import { MobileMenu } from "~/components/MobileMenu";

const pathname = Astro.url.pathname;
const basePath = import.meta.env.BASE_URL.replace(/\/$/, "");
const cleanPathname = pathname.replace(basePath, "") || "/";
---

<header>
  <div
    class="bg-theme_header p-4 lg:p-8 flex justify-between items-center border-b border-theme_accents"
  >
    <!-- TODO: MAKE THIS DIV ^ A CONTAINER? -->
    <a href={import.meta.env.BASE_URL} class="flex items-center">
      <span class="font-bold text-2xl lg:text-4xl">{content.company.name}</span>
    </a>

    <!-- Desktop Nav Bar -->
    <nav class="hidden lg:flex items-center">
      <ul class="flex gap-4">
        {
          content.pages.map((page) => {
            const href = `${import.meta.env.BASE_URL.replace(/\/$/, "")}${page.url}`;

            return (
              <li>
                <a
                  href={href}
                  class={`text-2xl ${
                    cleanPathname === page.url
                      ? "font-bold"
                      : "hover:text-gray-500 font-medium"
                  }`}
                >
                  {page.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
    <!-- Mobile Nav Bar -->
    <nav class="lg:hidden flex">
      <MobileMenu client:load pages={content.pages} pathname={pathname} />
    </nav>
  </div>
</header>
