---
import { content } from "~/data/content.ts";
import { MobileMenu } from "~/components/MobileMenu";

const pathname = Astro.url.pathname;
const basePath = import.meta.env.BASE_URL.replace(/\/$/, "");
const cleanPathname = pathname.replace(basePath, "") || "/";
---

<header class="bg-theme_header border-b border-theme_accents/40">
  <div
    class="mx-auto max-w-7xl px-6 py-4 lg:px-12 lg:py-6 flex items-center justify-between"
  >
    <!-- Logo -->
    <a
      href={import.meta.env.BASE_URL}
      class="text-2xl font-extrabold tracking-tight lg:text-4xl"
    >
      {content.company.name}
    </a>

    <!-- Desktop Nav -->
    <nav class="hidden lg:block">
      <ul class="flex items-center gap-8">
        {
          content.pages.map((page) => {
            const href = `${basePath}${page.url}`;

            const isActive = cleanPathname === page.url;

            return (
              <li>
                <a
                  href={href}
                  class={`text-lg transition-colors ${
                    isActive
                      ? "font-semibold text-theme_accents"
                      : "text-gray-300 hover:text-white"
                  }`}
                >
                  {page.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>

    <!-- Mobile Nav -->
    <nav class="lg:hidden">
      <MobileMenu client:load pages={content.pages} pathname={pathname} />
    </nav>
  </div>
</header>
